DATABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_MAPBOX_TOKEN=
CAPACITOR_SERVER_URL=
PATROL_UPLOAD_SECRET=
ANDROID_CERT_FINGERPRINTS=

PLUNK_API_KEY=
PLUNK_FROM_EMAIL=
PLUNK_FROM_NAME=


GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_SERVICE_ACCOUNT_CREDENTIALS=



REPORTS_MAP_RESOLVED_DELAY_HOURS=

